
<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="40">
    <mat-card *ngIf="dish">
        <mat-card-header>
            <mat-card-title> <b>{{dish.name | uppercase}}</b></mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
            <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
    </mat-card>
</div>

    <div fxFlex="40">
        <mat-card *ngIf="dish">
            <mat-card-header>
                <mat-card-title> <b>Comments</b></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <mat-list>
                        <mat-list-item *ngFor="let coms of dish.comments"> 
                            <p mat-line>{{coms.comment}}</p>
                            <p mat-line>{{coms.rating}} Stars</p>
                            <p mat-line>-- {{coms.author}} {{coms.date | date}}</p>
                        </mat-list-item>
                    </mat-list>
                    <mat-list role="list" *ngIf="feedbackForm.valid">
                            <mat-list-item role="listitem">{{ feedbackForm.value.comment }}</mat-list-item>
                            <mat-list-item role="listitem">{{ feedbackForm.value.rating}}</mat-list-item>
                            <mat-list-item role="listitem">--{{ feedbackForm.value.author}}</mat-list-item>
                    </mat-list>
                    <h3>Comments Form</h3>

                    <form novalidate [formGroup] = "feedbackForm" #fform = "ngForm" (ngSubmit) = "onSubmit()">
                        <p>
                          <mat-form-field class = "half-width">
                            <input matInput 
                                    formControlName = "author" 
                                    placeholder="Name" 
                                    type = "text" 
                                    required>
                            <mat-error *ngIf = "formErrors.author">
                                {{formErrors.author}}
                              </mat-error>
                          </mat-form-field>           
                        </p>
                        
                        <mat-slider min="1" max="5" step="1" thumbLabel tickInterval="1" formControlName = "rating"></mat-slider>             
                        
                         <p>
                            <mat-form-field class = "full-width">
                                <textarea matInput 
                                        formControlName = "comment" 
                                        placeholder="Comment" 
                                        type = "text" 
                                        rows = 5 
                                        required>
                                </textarea>
                                    <mat-error *ngIf = "formErrors.comment">
                                        {{formErrors.comment}}
                                    </mat-error>
                            </mat-form-field>               
                        </p>
                        <button type = "submit"  mat-button class = "background-primary text-floral-white" [disabled] = "fform.feedbackForm.invalid">
                          Submit</button>
                      </form>                          
            </mat-card-content>
        </mat-card>
    </div>

    <div *ngIf="!dish">
            <mat-spinner></mat-spinner>
            <h4>Loading . . . Please Wait</h4>
    </div>

</div>